<label for="teamId">Please select players team
  <select id="teamId" name="teamId">
    <option value="-1" default>Please Select</option>
    {{#each teams}}
    <option value="{{@index}}">{{name}}</option>
    {{/each}}
  </select>
</label>