<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='../../stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/addPlayer'>Add a player</a></li>
          <li><a href='/playerList'>Team players list</a></li>
          <li><a href='/players'>Players</a></li>
          <li><a href='/addTeam'>Add a Team</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>
