<h1>Add a Team Player</h1>
<form method="post" action="/addPlayer">
  {{> selectBoxTeams teams=leagueModel.teams}}
  <label for="playerPosition">
    Player position:
    <select id="playerPosition" name="playerPosition">
      <option value="-1" default>Please select player position</option>
      {{#each playerPosition}}
       <option value="{{positionKey}}">{{position}}</option>
      {{/each}}
    </select>
  </label>

  <label for="playerFirstName">Players first name
    <input type="text" name="playerFirstName" id="playerFirstName" />
  </label>
  <label for="playerLastName">Players last name
    <input type="text" name="playerLastName" id="playerLastName" />
  </label>
  <label for="playerShirtNo">Players shirt number
    <input type="text" name="playerShirtNo" id="playerShirtNo" />
  </label>  
  <button type="submit">Submit Player</button>
</form>
{{#if playerAdded}}
<p><strong>Player as been added</strong></p>
{{/if}}

