<h1>Add a Team</h1>
<p>Enter the name of your team below</p>
<form method="post" action="/addTeam">
  <label for="team">Team name</label>
  <input type="text" name="team" id="team" />
  <button type="submit">Submit team name</button>
</form>