<h1>Premier League teams</h1>
<div class="league-teams">
  <p>An example of Football Teams and their details, to show use of posts gets</p>
  <ul class="league-teams">
    {{#each teams}}
    <li>
      <a href="/playerList/{{@index}}">
        {{> teamBadge teamBadge=teamBadge width=50}}
        <span class="team-name">{{name}}</span>
      </a>
    </li>
    {{/each}}
  </ul>
</div>
