<div class="player-list-page">
  <h1>{{name}} Squad</h1>
  <form method="POST" action="/playerList">
    {{> selectBoxTeams teams=leagueModel.teams}}
    <input type="submit" value="Show Team Players" />
  </form>
  {{#if hasPlayers}}
    <div class="team-badge-col">{{> teamBadge teamBadge=teamBadge width=auto}}</div>
    <div class="player-listing">
      <ul class="player-list">
        {{#each teamPlayers.players}}
          <li class="player-name">
            <a href="/players/{{../teamId}}/{{@index}}">
              <span class="arrow">><span>
                {{name}} {{lastName}}
              </a>
          </li>
        {{/each}}
      </ul>
    </div>
  {{else}}
    <p>Sorry there are no players to show at this current time.</p>
  {{/if}}
</div>