<section class="players">
  <h1>Player name: {{playerDetailObject.name}} {{playerDetailObject.lastName}}</h1>
  <div class="generic-shirt {{teamObject.teamBadge}}">
    <span class="shirt-number">{{playerDetailObject.shirtNumber}}</span>
    <span>
      {{> football-jersy}}
    </span>
    <span class="shirt-badge">
      {{> teamBadge width='55' teamBadge=teamObject.teamBadge alt='Team Badge'}}
    </span>
  </div>
</section>