body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

h1 {
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
}

h2 {
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
}

h3 {
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
}

form {
  padding-bottom: 40px;
}

nav {
  background: black;
  padding: 30px;
  margin-bottom: 30px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  padding-right: 20px;
}

nav a,
nav a:visited {
  color: #00B7FF;
  text-decoration: none;
}

nav a:hover {
  color: #ffffff;
}

main {
  text-align: left;
  max-width: 80%;
  margin: auto;
}

ul.league-teams li {
  display: block;
  margin-bottom: 20px;
}

ul.league-teams li a {
  display: block;
  background: rgb(111, 212, 252);
  padding: 10px;
  border: 1px solid rgb(145, 145, 145) ;
  text-decoration: none;
  margin-bottom: 10px;
  color: #ffffff;
}

.team-badge {
  display: inline-block;
  margin-right: 20px
}

.team-name {
  vertical-align: 50%;
  font-size: 25px;
}

ul.league-teams li a:hover {
  background: #ffffff;
  color:  #00B7FF;
}

form label {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

button {
  box-sizing: border-box;
  display: block;
  width: 40%;
  padding: 8px;
  margin-top: 5px;
  font-size: 12px;
  background-color: #00B7FF;
  color: #fff;
  border: none;
}

button:hover {
  background-color: #ffffff;
  color: #00B7FF;
  border : 1px solid #00B7FF;
}

form select,
form input {
  box-sizing: border-box;
  display: block;
  width: 40%;
  padding: 8px;
  margin-top: 5px;
  font-size: 12px;
  background-color: #ffffff;
  color: #00B7FF;
  border : 1px solid #00B7FF;
}

form select {
  padding: 20px;
}

/* 
-----------------------------
PLAYER LISIING PAGE
-----------------------------
*/

.player-list-page .team-badge-col,
.player-list-page .player-listing {
  float: left;
}

.player-list-page .player-listing {
  width: 60%;
}

.player-list-page .player-listing {
  border-left : 1px solid #00B7FF;
  padding-left: 40px;
}

ul.player-list li {
  margin-bottom: 10px;
}

ul.player-list li a {
  display: block;
  background: rgb(111, 212, 252);
  padding: 10px;
  text-decoration: none;
  margin-bottom: 10px;
  color: #ffffff;
}

ul.player-list li a > .arrow {
  display: block;
  -webkit-transition: padding 2s;
  transition: padding 0.5s;
}

ul.player-list li a:hover > .arrow {
  padding: 0 0 0 10px;
}

 
ul.player-list li .player-name {
  font-size: 16px;
  font-weight: bold;
}

/* 
-----------------------------
PLAYERS
-----------------------------
*/





/* 
-----------------------------
PLAYER SHIRT COLOURS
-----------------------------
*/

.generic-shirt {
  width: 47%;
  text-align: center;
  position: relative;
  background: #eeeeee;
}

.generic-shirt .shirt-number {
  z-index: 2;
  width: 170px;
  position: absolute;
  top: 39.5%;
  left: 50%;
  font-size: 130px;
  margin: 0px 0 0 -85px;
}

.generic-shirt .shirt-badge {
  z-index: 4;
  position: absolute;
  top: 21%;
  left: 57%;
}

.generic-shirt.manchestercity {
  fill: #98c5e8;
  color: #ffffff;
}

.generic-shirt.liverpool {
  fill: #e31b23;
  color: #ffffff;
}

.generic-shirt.arsenal {
  fill: #f00000;
  color: #ffffff;
}

.generic-shirt.westham {
  fill: #540d1a;
  color: #1bb1e7;
}

.generic-shirt.manchesterunited {
  fill: #c70101;
  color: #000000;
}

.generic-shirt.wankers {
  fill: #ffffff;
  color: #111836;
}

.generic-shirt.norwich {
  fill: #00a651;
  color: #fff200;
}

.generic-shirt.wolverhampton {
  fill: #fdb913;
  color: #000000;
}

.generic-shirt.astonvilla {
  fill: #603;
  color: #94bee5;
}

.generic-shirt.leicester {
  fill: #003090;
  color: #ffffff;
}

.generic-shirt.chelsea {
  fill: #001489;
  color: #ffffff;
}

.generic-shirt.sheffieldutd {
  fill: #b00;
  color: #000000;
}

.generic-shirt.bournmouth {
  fill: #d71921;
  color: #000000;
}

.generic-shirt.brighton {
  fill: #0054a6;
  color: #ffffff;
}

.generic-shirt.watford {
  fill: #FBEE24;
  color: #000000;
}

.generic-shirt.everton {
  fill: #00369c;
  color: #ffffff;
}

.generic-shirt.crystalpalace {
  fill: #ee3e24;
  color: #000000;
}

.generic-shirt.southampton {
  fill: #ff0028;
  color: #000000;
}

.generic-shirt.burnley {
  fill: #81204c;
  color: #8fd2f4;
}
